@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */
body{
  background-color: rgb(238, 244, 242);
}
/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */
#barraNavegación{
  margin: 4rem 7rem 6rem ;
  width:auto;
  height: 1.25rem;
}
#barraNav{

  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;


}
#barraNav ul{
  width: 50%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}
#navLink{
  text-decoration:none;
  color: grey;
  font-size: 1.1rem;
  font-weight:500;
}
/* button style */
#contactUsBtn{
  width: 9.3rem;
  height: 3.3rem;

  border: none;
  outline: none;
  background-color: #072ac8;


}
#contactUsBtn a{
  text-decoration: none;
  color: white;
  font-weight:bold;
  font-size: 1rem;
  padding-right: 1.6rem;
}


/* ------------------------------ Header ------------------------------ */

header{
  margin: 4rem 5rem 6rem 7rem ;
  width:auto;
  height: 3.125rem;
}
#portada{
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}
/* text style */
#textoPortada{
  width: 43%;
}
#textoPortada h1{
  font-size: 4rem;
  color:  rgb(36, 36, 60);
  padding-bottom: 2rem;
}
#textoPortada p{
  font-size: 1.3rem;
  color: rgb(118, 115, 115);
  line-height: 2rem;
  padding-bottom: 2rem;
}

/* link & button style */
#enlacesPortada ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-top: 1.3rem;
}
#ourWork{
  text-decoration: none;
  color:rgb(118, 115, 115) ;
  font-weight:500;
  padding-right: 1rem;
}
#getInTouchBtn{
  width: 8rem;
  height: 3.5rem;
  border: none;
  outline: none;
  background-color: #072ac8;
}
#getInTouchBtn a{
  text-decoration: none;
  color: white;
  font-weight:bold;
  font-size: 1rem;
  padding-left: 0rem;

}
/* img style */
.container {
  background-image: url('/midterm-project-boiler/resources/images/hero-section/hero-image.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 1.6rem;
  width: 33.75rem;
  height: 33.75rem;
  position: relative;
}

.image1,
.image2 {
  position: absolute;
  width: 15rem;
  height: 15rem;
}

.image1 {
  background-image: url('/midterm-project-boiler/resources/images/hero-section/card-1.png');
  background-size:cover;
  background-repeat: no-repeat;
  top: 1.875rem;
  left: 0.9375rem;
}

.image2 {
  background-image: url('/midterm-project-boiler/resources/images/hero-section/card-2.png');
  background-size: cover;
  background-position: right;
  margin-right: 0rem;
  top: 23.4375rem;
  left: 22.5rem;
}

/* ------------------------------ Partners ------------------------------ */

#logos{
  width: cover;
  height: 12.5rem;
  padding-top: 35rem;
  padding-bottom: 8rem;

}
#listaLogos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  list-style:none;
}
.logo{
  width: 6.25rem;
  height: 6.25rem;
}



/* ------------------------------ Recent projects ------------------------------ */
#recentProjects{
  margin: 4rem 5rem 6rem 4rem ;
  width:auto;
  height: 3.125rem;
  padding-bottom: 30rem;
}
#recentProjects h3{
  font-size: 2.3rem;
  color:  rgb(36, 36, 60);
  padding-bottom: 4rem;
}

#projectLists{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.proyecto{
  list-style:none;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 21.3rem;
  height: 36rem;
  padding-right: 2rem;
}

.imgProyecto{
  width:21.25rem;
  height: 15rem;
}

.tituloLProject{
  color: rgb(36, 36, 60) ;
  font-size: 1.3rem ;
  justify-content: center;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.textoLProject{
  color: rgb(81, 79, 79) ;
  text-align:left;
  font-size: 1.1rem;
  font-weight: 300;
  padding-left: 2rem;
  padding-right: 1.7rem;
  padding-bottom: 2rem;
}
.proyecto a{
  font-weight: 500 !important;
  text-decoration:none;
  color: #072ac8;
  font-size: 1rem ;
  padding-left: 2rem;
  font-weight: 400;
}

/* ------------------------------ Client reviews ------------------------------ */

#clientsOpinion{
  background-image: url(/midterm-project-boiler/resources/images/testimonial-section/orbit.png);
  background-size: cover;
  background-color:rgb(44, 44, 73);
  width: 100%;
  height: 28.125rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 22rem;
}

.emoji{
  width:8.4375rem;
  height: 8.4375rem;
}
.emojiColumn{
  width: 100%;
  height: 28.125rem;
  position: absolute;


}
.emojiColumn ul{
  list-style: none;

}
.emojiColumn ul li{
  justify-content: center;
  align-items: center;
}
.emojiLeft {
  margin:3rem 2rem 2rem 7rem;
}

.emojiRight {
  margin:3rem 2rem 2rem 53.5rem;
}

.centerText{
  width:100%;
  /* height: 4.375rem; */
  height: 28.125rem;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
}

.centerText h3{
  font-size: 2rem;
  font-weight: 600;
  color: white;
  margin-bottom: 6.5rem;
  margin-top: 0.5rem;
}

.centerText p{
  color: yellow;
  font-size: 1.5rem;
  font-weight: 300;
}

#kristin{
  display: flex;
  flex-direction: row;
  align-items:end;
}

#kristin img{
  margin-top:5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  margin-right: 0.5rem;
}

#kristin div :first-child{
  font-size: 0.9rem;
  color:rgb(60, 132, 154);
  font-weight: 400;

}

#kristin div :last-child{
  font-size: 0.8rem;
  color:white;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0.5rem;
}
/* ------------------------------ Services ------------------------------ */
#ourServices{
  margin: 6rem 7rem 6rem 7rem ;
  width:auto;
  height: 3.125rem;
  padding-bottom: 30rem;
}

#ourServices h3{
  font-size: 2.3rem;
  color:  rgb(36, 36, 60);
  padding-bottom: 4rem;

}

#serviceLists{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  
}

#serviceLists ul{
  list-style:none;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 19.5rem;
  height: 19.5rem;

}

.circle{
  width: 4.9rem;
  height: 4.9rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(239, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
}
.imgService{
  width: 2.4rem;
  height: 2.4rem;
}

#serviceLists ul li h5{
  color: rgb(36, 36, 60) ;
  font-size: 1.4rem ;
  justify-content: center;
  padding: 1.5rem 1.5rem 1.5rem 1.4rem ;
}

#serviceLists ul li p{
  color: rgb(88, 86, 86) ;
  justify-content: center;
  padding: 0rem 1.8rem 1.5rem 1.4rem ;
  font-weight: 300;
  font-size: 1.1rem;
}

#serviceLists ul li a{
  font-weight: 500;
  text-decoration:none;
  color: #072ac8;
  font-size: 1rem ;
  padding: 0rem 1.5rem 1.5rem 1.4rem ;
}

/* ------------------------------ Questions form ------------------------------ */

#questions{
  width: 100%;
  height: 22rem;
  background-color: rgb(255, 196, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#questions h3{
  font-size: 2.3rem;
  color:  rgb(36, 36, 60);
  padding-bottom: 1rem;

}

#questions p{
  font-size: 0.9rem;
  color: gray;
  padding-bottom: 3rem;
}

#questions form{
  position: relative;
  display: inline-block;
}


#questions form label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

#questions form input{
  width: 30rem;
  height: 4rem;
  border-style: none;
  padding-left: 3rem;
  font-size: 1rem;
}

#questions form button{
  width:9.8rem;
  height: 4rem;
  background-color: #072ac8;
  border-style: none;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  margin-left: 0.8rem;
}

/* ------------------------------ Footer ------------------------------ */

footer{
  width: 100%;
  height: 18rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#adress{
  margin-left: 4rem;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

#adress img{
  width: 6rem;
  height: 4rem;
  align-items:start;
}

#adress p{
  color: rgb(88, 86, 86) ;
  font-weight: 300;
  font-size: 0.9rem;
}

#footerLinks ul{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin-right: 3rem;
  margin-top: 1rem;
}

 #footerLinks ul li {
  width: 33.33%;
  height: 3rem;
  margin-bottom: 0.5rem;

}

#footerLinks ul li a{
  text-decoration: none;
  font-weight: 500 !important;
  color: #072ac8;
  font-size: 0.95rem ;
}
/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Estilo parte principal de la página */

#proyectoPrincipal{
  margin-left: 5.5rem;
  margin-right: 5.5rem;
}
#proyectoPrincipal h1{
  font-size: 4rem;
  color:  rgb(36, 36, 60);
  padding-bottom: 2rem;
}

#encabezadoProyecto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4rem;
}
#proyectoPrincipal h4{
  font-size: 1.45rem;
  color:  rgb(110, 109, 109);
  font-weight: 400;
}

#proyectoPrincipal h5{
  font-size: 1.15rem;
  color:  rgb(110, 109, 109);
  font-weight: 400;
}

#imagenProyecto{
  background-image: url("/midterm-project-boiler/resources/images/projects-section/1.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 28rem;
  margin-bottom: 4rem;
}

#proyectoPrincipal p{
  font-size: 1.25rem;
  color:  rgb(41, 41, 67);
  font-weight: 400;
  margin-bottom: 6rem;
  line-height: 1.7rem;
}

/* Estilo parte otros proyectos */
#otrosTitulo, #proyectosSecundarios{
  margin-left: 5rem;
  margin-right: 5rem;
}

#otrosTitulo{
  font-size: 2.5rem;
  color:  rgb(36, 36, 60);
  padding-bottom: 5rem;
}

#proyectosSecundarios{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9rem;
}

#otrosProyectos{
  width: 21rem;
  height: 25.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

#otrosProyectos img{
  width: 100%;
  height: 15rem;
}

#otrosProyectos h4, h5, a{
  padding-left: 2rem;
}

#otrosProyectos h4{
  color:  rgb(36, 36, 60);
  font-size: 1.4rem;
}

#otrosProyectos h5{
  color:  rgb(36, 36, 60);
  font-size: 1.1rem;
  font-weight: 300;
}
#otrosProyectos a{
 text-decoration: none;
  font-weight: 500 !important;
  color: #072ac8;
  font-size: 1rem ;
  padding-bottom: 1.5rem;
}



/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

#formulario h1{
  font-size: 3.5rem;
  color:  rgb(36, 36, 60);
  padding-bottom: 2rem;
  margin-left: 5rem;
}
#formulario form{
  margin-left:5rem ;
  margin-right: 5rem;
}
#formulario form label p{
  font-size: 1.1rem;
  color: grey;
  margin-bottom: 0.8rem;
}
#formulario form input,textarea::placeholder{
font-size: 1rem;
padding-left: 1rem;
}
#fullName{
  width: 100%;
  height: 3.8rem;
  background-color: rgb(231, 228, 228);
  border-style: none;
  margin-bottom: 1.2rem;
}



#formulario #secondRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#formulario #secondRow div{
  width: 100%;
}

#emailC, #phone {
  width: 99%;
  height:  3.8rem;
  background-color: rgb(231, 228, 228);
  border-style: none;
  margin-bottom: 1.2rem;
}

#phone{
  margin-left: 0.2rem;
}

#message{
  width: 100%;
  height: 12rem;
  background-color: rgb(231, 228, 228);
  border-style: none;
}

#formulario button{
  width: 100%;
  height: 4rem;
  background-color: #072ac8;
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
}


/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
